# Banco de dados
POSTGRES_DB=adorela
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Spring (sobrescrevem valores padrão do application.properties)
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/adorela
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=123456
# SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8180/realms/adorela
# ADORELA_UPLOAD_DIR=uploads
